* text=auto eol=lf

*.py    text eol=lf
*.sh    text eol=lf
*.md    text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf
*.def   text eol=lf

Makefile text eol=lf

# Linguist
*.def   linguist-language=Shell
slurm/*.sh linguist-language=Shell
